{% extends "home.html" %}

{% block script %}
<script type="text/javascript" src="/scripts/jquery.js"></script>
<script type="text/javascript">
function ValidateForm()
{
	var pars = $('#Form').serialize();
}
</script>
{% endblock %}

{% block content %}
	<h2>Profile</h2>
	<p>Please tell us a little bit about yourself.</p>
	<form action="/profileaction" method="post" id="Form">
		<div class="FormFieldSet">
			<label for="DisplayName"><span class="Required">*</span> Display Name:</label>
			<input type="text" name="DisplayName" id="DisplayName" value="{{UserObject.DisplayName}}" />
		</div>
		<div class="FormFieldSet">
			<label for="FirstName">First Name:</label>
			<input type="text" name="FirstName" id="FirstName" value="{{UserObject.FirstName}}" />
		</div>
		<div class="FormFieldSet">
			<label for="LastName">Last Name:</label>
			<input type="text" name="LastName" id="LastName" value="{{UserObject.LastName}}" />
		</div>
		<div class="FormFieldSet">
			<label for="Email">Email:</label>
			<input type="text" name="Email" id="Email" value="{{UserObject.EmailName}}" />
		</div>
		<div id="FormError" class="Error">
		</div>
		<div class="FormFieldSet">
			<label>&nbsp;</label>
			<input type="submit" value="Update Profile" class="SubmitButton" onclick="" />
		</div>
	</form>
{% endblock %}